<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 12.12 Mapper 생성 -->
<mapper namespace="dao.CouponMapper">
	<resultMap type="com.java.coupon.dto.SearchFoodCodeDto" id="SearchFoodCodeDto">
		<result column="food_code" property="foodCode"/>
		<result column="food_name" property="foodName"/>
		<result column="food_addr" property="foodAddr"/>
	</resultMap>
	<resultMap type="com.java.coupon.dto.CouponDto" id="CouponDto">
		<result column="coupon_code" property="couponCode"/>
		<result column="food_code" property="foodCode"/>
		<result column="coupon_name" property="couponName"/>
		<result column="coupon_startdate" property="couponStartdate"/>
		<result column="coupon_enddate" property="couponEnddate"/>
		<result column="coupon_intro" property="couponIntro"/>
		<result column="coupon_costori" property="couponCostori"/>
		<result column="coupon_costsale" property="couponCostsale"/>
		<result column="coupon_salerate" property="couponSalerate"/>
		
		<result column="image_code" property="imageCode"/>
		<result column="image_name" property="imageName"/>
		<result column="image_size" property="imageSize"/>
		<result column="image_path" property="imagePath"/>
	</resultMap>
	<resultMap type="com.java.image.dto.ImageDto" id="ImageDto">
		<result column="image_code" property="imageCode"/>
		<result column="refer_code" property="referCode"/>
		<result column="image_name" property="imageName"/>
		<result column="image_size" property="imageSize"/>
		<result column="image_path" property="imagePath"/>
	</resultMap>
	
	
	<!-- 식당코드 검색 -->
	<select id="selFoodCode" parameterType="String" resultMap="SearchFoodCodeDto">
		SELECT food_code, food_name, food_addr  FROM food 
		WHERE food_name LIKE '%'||#{foodName}||'%'
	</select>

	<!-- 쿠폰상품 등록 -->
	<insert id="insert" parameterType="com.java.coupon.dto.CouponDto" useGeneratedKeys="true">
		<selectKey keyProperty="couponCode" resultType="String" order="BEFORE">
			SELECT 'coupon'||LPAD(seqcoupon.nextval,4,0) As couponCode from dual
		</selectKey>
		INSERT INTO coupon(coupon_code, food_code, coupon_name, coupon_startdate, coupon_enddate, coupon_costori, coupon_salerate, coupon_costsale, coupon_intro)
		VALUES('coupon'||LPAD(seqcoupon.CURRVAL,4,0), #{foodCode}, #{couponName}, #{couponStartdate}, #{couponEnddate}, #{couponCostori}, #{couponSalerate}, 
		#{couponCostsale}, #{couponIntro})
	</insert>
	
	<!-- 쿠폰리스트 카운트 -->
	<select id="listCount" resultType="int">
		SELECT count(*) FROM coupon 
	</select>
	
	<!-- 쿠폰리스트 불러오기 -->
	<!-- <select id="couponList" parameterType="java.util.Map" resultMap="CouponDto">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM as num01, A.* FROM 
		(SELECT * FROM coupon) A) B WHERE B.num01 >= #{startRow} AND B.num01 <= #{endRow}
		]]>
	</select> -->
	<select id="couponList" parameterType="java.util.Map" resultMap="CouponDto">
		<![CDATA[
		SELECT * FROM 
		(SELECT ROWNUM as num, A.* FROM (select * from coupon, image WHERE coupon_code = refer_code) A) B
		WHERE B.num >= #{startRow} AND B.num <= #{endRow}
		]]>
	</select>
	
	<!-- 쿠폰상세페이지 -->
	<select id="couponRead" parameterType="String" resultMap="CouponDto">
		select coupon.*, 
		(select image_code from image where refer_code = coupon.coupon_code) AS image_code,
		(select image_name from image where refer_code = coupon.coupon_code) AS image_name, 
		(select image_path from image where refer_code = coupon.coupon_code) AS image_path
		from coupon where coupon_code = #{couponCode}
	</select>
	
	<!-- 쿠폰 불러오기 -->
	<!-- <select id="couponSelect" parameterType="String" resultMap="CouponDto">
		
	</select> -->
	
	

</mapper>