<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 12.12 Mapper 생성 -->
<mapper namespace="dao.CouponMapper">
	<resultMap type="com.java.coupon.dto.SearchFoodCodeDto" id="SearchFoodCodeDto">
		<result column="food_code" property="foodCode"/>
		<result column="food_name" property="foodName"/>
		<result column="food_addr" property="foodAddr"/>
	</resultMap>
	<resultMap type="com.java.coupon.dto.CouponDto" id="CouponDto">
		<result column="coupon_code" property="couponCode"/>
		<result column="food_code" property="foodCode"/>
		<result column="coupon_name" property="couponName"/>
		<result column="coupon_startdate" property="couponStartdate"/>
		<result column="coupon_enddate" property="couponEnddate"/>
		<result column="coupon_intro" property="couponIntro"/>
		<result column="coupon_costori" property="couponCostori"/>
		<result column="coupon_costsale" property="couponCostsale"/>
		<result column="coupon_salerate" property="couponSalerate"/>
		<result column="coupon_status" property="couponStatus"/>
		
		<result column="image_code" property="imageCode"/>
		<result column="image_name" property="imageName"/>
		<result column="image_size" property="imageSize"/>
		<result column="image_path" property="imagePath"/>
		
		<result column="food_name" property="foodName"/>
	</resultMap>
	<resultMap type="com.java.image.dto.ImageDto" id="ImageDto" />
	
	<!-- 식당코드 검색 -->
	<select id="selFoodCode" parameterType="String" resultMap="SearchFoodCodeDto">
		SELECT food_code, food_name, food_addr  FROM food 
		WHERE food_name LIKE '%'||#{foodName}||'%'
	</select>

	<!-- 쿠폰상품 등록 -->
	<insert id="insert" parameterType="com.java.coupon.dto.CouponDto" useGeneratedKeys="true">
		<selectKey keyProperty="couponCode" resultType="String" order="BEFORE">
			SELECT 'coupon'||LPAD(seqcoupon.nextval,4,0) As couponCode from dual
		</selectKey>
		INSERT INTO coupon(coupon_code, food_code, coupon_name, coupon_startdate, coupon_enddate, coupon_costori, coupon_salerate, coupon_costsale, coupon_intro, coupon_status)
		VALUES('coupon'||LPAD(seqcoupon.CURRVAL,4,0), #{foodCode}, #{couponName}, TO_DATE(#{couponStartdate}, 'YYYY-MM-DD'), TO_DATE(#{couponEnddate},'YYYY-MM-DD'), #{couponCostori}, #{couponSalerate}, 
		#{couponCostsale}, #{couponIntro}, 'Y')
	</insert>
	
	<!-- 쿠폰리스트 카운트 -->
	<select id="listCount" resultType="int">
		SELECT count(*) FROM coupon 
	</select>
	
	<!-- 쿠폰리스트 불러오기 : coupon_satus = Y만 가능-->
	<select id="couponList" parameterType="java.util.Map" resultMap="CouponDto">
		<![CDATA[
		SELECT B.coupon_code, B.food_code, B.coupon_name, B.coupon_costori, B.coupon_salerate, B.coupon_costsale, B.coupon_intro, 
		TO_CHAR(B.coupon_startdate, 'YYYY-MM-DD') AS coupon_startdate, TO_CHAR(B.coupon_enddate, 'YYYY-MM-DD') AS coupon_enddate, image_name, image_path
		FROM (SELECT ROWNUM as num, A.* FROM (select * from coupon, image WHERE coupon_code = refer_code AND coupon_enddate >= #{today} AND coupon_status = 'Y' ORDER BY coupon_code DESC) A) B
		WHERE B.num >= #{startRow} AND B.num <= #{endRow}
		]]>
	</select>
	
	<!-- 쿠폰리스트 불러오기(관리자) -->
	<select id="couponListAdmin" resultMap="CouponDto">
		<![CDATA[
		SELECT B.*, TO_CHAR(B.coupon_startdate, 'YYYY-MM-DD') AS coupon_startdate, TO_CHAR(B.coupon_enddate, 'YYYY-MM-DD') AS coupon_enddate
		FROM (select * from coupon, image WHERE coupon_code = refer_code) B
		]]>
	</select>
	
	<!-- 쿠폰상세페이지 -->
	<select id="couponSelect" parameterType="String" resultMap="CouponDto">
		select coupon.coupon_code, coupon.food_code, coupon.coupon_status, coupon.coupon_name, coupon.coupon_costori, coupon.coupon_salerate, coupon.coupon_costsale, coupon.coupon_intro, 
		TO_CHAR(coupon.coupon_startdate, 'YYYY-MM-DD') AS coupon_startdate, TO_CHAR(coupon.coupon_enddate, 'YYYY-MM-DD') AS coupon_enddate, 
		(select image_code from image where refer_code = coupon.coupon_code) AS image_code,
		(select image_name from image where refer_code = coupon.coupon_code) AS image_name, 
		(select image_path from image where refer_code = coupon.coupon_code) AS image_path,
        (select food_name from food Where food_code = coupon.food_code) AS food_name
		from coupon where coupon_code = #{couponCode}
	</select>
	
	<!-- 쿠폰 수정 -->
	<update id="couponUpdate" parameterType="com.java.coupon.dto.CouponDto">
		UPDATE coupon
		SET food_code= #{foodCode}, coupon_name=#{couponName}, 
		coupon_startdate= TO_DATE(#{couponStartdate}), coupon_enddate=TO_DATE(#{couponEnddate}), 
		coupon_costori= #{couponCostori}, coupon_salerate= #{couponSalerate}, 
		coupon_costsale= #{couponCostsale}, 
		coupon_intro=#{couponIntro}, coupon_status=#{couponStatus}
		WHERE coupon_code = #{couponCode}
	</update>
	
	<!-- 쿠폰 삭제 -->
	<delete id="couponDelete" parameterType="String">
		UPDATE coupon
		SET coupon_status='N' WHERE coupon_code = #{couponCode}
	</delete>

</mapper>