<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 12.12 Mapper 생성 -->
<mapper namespace="dao.CouponMapper">
	<insert id="insert" parameterType="com.java.coupon.dto.CouponDto" useGeneratedKeys="true">
		<selectKey keyProperty="couponCode" resultType="String" order="BEFORE">
			SELECT 'coupon'||LPAD(seqcoupon.nextval,4,0) As couponCode from dual
		</selectKey>
		INSERT INTO coupon(coupon_code, food_code, coupon_name, coupon_startdate, coupon_enddate, coupon_costori, coupon_salerate, coupon_costsale, coupon_intro)
		VALUES('coupon'||LPAD(seqcoupon.CURRVAL,4,0), #{foodCode}, #{couponName}, #{couponStartdate}, #{couponEnddate}, #{couponCostori}, #{couponSalerate}, 
		#{couponCostsale}, #{couponIntro})
	</insert>
	

</mapper>