<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.mapper.SearchMapper">

	<select id="foodCount" parameterType="String" resultType="int">
		SELECT count(distinct food_code) from (
			SELECT food_code from food where food_name like ('%'||#{keyword}||'%')
			union all
			SELECT food_code from food where food_menu like ('%'||#{keyword}||'%')
			union all
			SELECT food_code from food where food_kind like ('%'||#{keyword}||'%')
			union all
			SELECT food_code from food where food_addr like ('%'||#{keyword}||'%')
			)
	</select>

	<select id="foodList" parameterType="java.util.Map" resultType="com.java.search.dto.SearchFoodDto">
		<![CDATA[
			SELECT * FROM 
			(SELECT ROWNUM rnum, A.* FROM
			(SELECT * FROM 
			(SELECT * FROM food WHERE food_code in(
			(SELECT distinct food_code from (
			SELECT food_code from food where food_name like ('%'||#{keyword}||'%')
			union all
			SELECT food_code from food where food_menu like ('%'||#{keyword}||'%')
			union all
			SELECT food_code from food where food_kind like ('%'||#{keyword}||'%')
			union all
			SELECT food_code from food where food_addr like ('%'||#{keyword}||'%')
			)))
			order by case 
			when food_name like ('%'||#{keyword}||'%') then 0
			when food_menu like ('%'||#{keyword}||'%') then 1
			when food_kind like ('%'||#{keyword}||'%') then 2
			else 3 end asc) fo, image, (SELECT food_code review_food, AVG(review_score) review_score, COUNT(review_code) review_count FROM review GROUP BY food_code) rv
			WHERE fo.food_code = image.refer_code(+)
			AND fo.food_code = rv.review_food(+)
			)A)
			WHERE rnum >=#{startRow} and rnum <=#{endRow}
		]]>
	</select>
	
	
	<select id="couponCount" parameterType="String" resultType="int">
		SELECT count(*) FROM coupon, food 
			WHERE coupon.food_code = food.food_code
			AND (
			coupon_name like ('%'||#{keyword}||'%')
			or
			food_name like ('%'||#{keyword}||'%')
			or
			food_kind like ('%'||#{keyword}||'%')
			or
			food_menu like ('%'||#{keyword}||'%')
			)
	</select>
	
	<select id="couponList" parameterType="String" resultType="com.java.search.dto.SearchCouponDto">
		SELECT 
			*
		FROM coupon, food, image 
			WHERE coupon.food_code = food.food_code
  			AND coupon.coupon_code = image.refer_code(+)
			AND (
			coupon_name like ('%'||#{keyword}||'%')
			or
			food_name like ('%'||#{keyword}||'%')
			or
			food_kind like ('%'||#{keyword}||'%')
			or
			food_menu like ('%'||#{keyword}||'%')
			)
	</select>
	
	
	<select id="tagList" parameterType="java.util.Map" resultType="com.java.search.dto.SearchFoodDto">
			SELECT * FROM 
			(SELECT ROWNUM rnum, A.* FROM
			(SELECT * FROM food
				<if test="tagType.equals('addr')">
				WHERE food_addr like ('%'||#{tagValue}||'%')
				</if>
				<if test="tagType.equals('menu')">
				WHERE food_menu like ('%'||#{tagValue}||'%')
				</if>
				<if test="tagType.equals('kind')">
				WHERE food_kind like ('%'||#{tagValue}||'%')
				</if>
				<if test="tagType.equals('area')">
				WHERE food_area like ('%'||#{tagValue}||'%')
				</if>
			ORDER BY food_read)A)
		<![CDATA[
			WHERE rnum >=1 and rnum <=10
		]]>
	</select>

</mapper>