<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 12.12 Mapper 생성 -->
<mapper namespace="dao.CouponMapper">
	<insert id="insert">
		INSERT INTO coupon 
		VALUES(COUPON_CODE=#{coupon_code}, FOOD_CODE=#{food_code}, COUPON_NAME=#{coupon_name},
		COUPON_STARTDATE = #{coupon_startdate}, COUPON_ENDDATE=#{coupon_enddate}, COUPON_COSTORI=#{coupon_costori},
		COUPON_SALERATE=#{coupon_salerate}, COUPON_COSTSALE=#{coupon_costsale}, COUPON_INTRO=#{coupon_intro}
		 ); 
	</insert>

</mapper>