<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.AdminMapper">
	<select id="foodCnt" resultType="com.java.admin.dto.AdminFoodDto">
		 <![CDATA[
		 	select * from
			(select count(food_code) as totalFoodCnt from food),
			(select count(food_kind) as korFood from food where food_kind like '한식%'),
			(select count(food_kind) as chnFood from food where food_kind like '중식%'),
			(select count(food_kind) as jpFood from food where food_kind like '일식%'),
			(select count(food_kind) as wtFood from food where food_kind like '양식%'),
			(select count(food_kind) as cafe from food where food_kind like '카페/술%'),
			(select count(food_kind) as etc from food where food_kind like '기타%')
		 ]]>
	</select>
	<select id="foodReadRank" resultType="com.java.admin.dto.AdminFoodReadDto">
	<![CDATA[
		select * FROM ( select food_code, food_name, food_read, ROW_NUMBER() OVER (ORDER BY food_read desc) rank from food) where rownum <=10
	]]>	
	</select>
	
	<!-- 구매된 쿠폰 top10 -->
	<select id="couponReadRank" resultType="com.java.admin.dto.AdminCouponReadDto">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM AS rank, B.* FROM (SELECT * FROM (select count(purchase.coupon_code) AS purchaseCnt, purchase.coupon_code from purchase
		group by purchase.coupon_code) A
		JOIN coupon ON A.coupon_code = coupon.coupon_code order by purchaseCnt DESC)B) where rank <= 10
		]]>
	</select>
	
	<!-- 월별 구매내역 -->
	<select id="couponCnt" resultType="com.java.admin.dto.AdminCouponDto">
		<![CDATA[
		SELECT * FROM 
		    (select count(coupon_code) as totalCouponCnt from purchase WHERE purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate)),
		    (select count(purchase.coupon_code) AS korCoupon from purchase INNER JOIN coupon ON purchase.coupon_code = coupon.coupon_code 
		    INNER JOIN food ON coupon.food_code = food.food_code WHERE food_kind like '한식%' AND purchase_status = 'Y' AND purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate)),
		    (select count(purchase.coupon_code) AS chnCoupon from purchase INNER JOIN coupon ON purchase.coupon_code = coupon.coupon_code 
		    INNER JOIN food ON coupon.food_code = food.food_code WHERE food_kind like '중식%' AND purchase_status = 'Y' AND purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate)),
		    (select count(purchase.coupon_code) AS jpCoupon from purchase INNER JOIN coupon ON purchase.coupon_code = coupon.coupon_code 
		    INNER JOIN food ON coupon.food_code = food.food_code WHERE food_kind like '일식%' AND purchase_status = 'Y' AND purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate)),
		    (select count(purchase.coupon_code) AS wtCoupon from purchase INNER JOIN coupon ON purchase.coupon_code = coupon.coupon_code 
		    INNER JOIN food ON coupon.food_code = food.food_code WHERE food_kind like '양식%' AND purchase_status = 'Y' AND purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate)),
		    (select count(purchase.coupon_code) AS cafe from purchase INNER JOIN coupon ON purchase.coupon_code = coupon.coupon_code 
		    INNER JOIN food ON coupon.food_code = food.food_code WHERE food_kind like '카페/술%' AND purchase_status = 'Y' AND purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate)),
		    (select count(purchase.coupon_code) AS etc from purchase INNER JOIN coupon ON purchase.coupon_code = coupon.coupon_code 
		    INNER JOIN food ON coupon.food_code = food.food_code WHERE food_kind like '기타%' AND purchase_status = 'Y' AND purchase_date BETWEEN trunc(sysdate,'mm') AND last_day(sysdate))
		]]>
	</select>
	
	<select id="adminCode" parameterType="String" resultType="com.java.admin.dto.AdminCouponDto">
		SELECT * FROM ADMIN WHERE ADMIN_ID = #{adminId}
	</select>
	
</mapper>