<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.AdminMapper">
	<select id="foodCnt" resultType="com.java.admin.dto.AdminFoodDto">
		 <![CDATA[
		 	select 
		 	count(food_code) as totalFoodCnt,
		 	SUM( DECODE (food_kind, '한식', 1, 0) ) as korFood,
		 	SUM( DECODE (food_kind, '중국식', 1, 0) ) as chnFood,
		 	SUM( DECODE (food_kind, '일식', 1, 0) ) as jpFood,
		 	SUM( DECODE (food_kind, '경양식', 1, 0) )as wtFood,
		 	SUM( DECODE (food_kind, '식육(숯불구이)', 1, 0) ) as bbq,
		 	SUM( DECODE (food_kind, '까페', 1, 0) )as cafe,
		 	SUM( DECODE (food_kind, '회집', 1, 0) ) as fishFood,
		 	SUM( DECODE (food_kind, '뷔페식', 1, 0) ) as buffet,
		 	SUM( DECODE (food_kind, '기타', 1, 0) ) as etc 
		 	from food
		 ]]>
	</select>
	<select id="foodReadRank" resultType="com.java.admin.dto.AdminFoodReadDto">
	<![CDATA[
		select * FROM ( select food_code, food_name, food_read, ROW_NUMBER() OVER (ORDER BY food_read desc) rank from food) where rownum <=10
	]]>	
	</select>
</mapper>