<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="dao.ImageMapper">	
	<insert id="imgInsert" parameterType="com.java.image.dto.ImageDto">
	 <![CDATA[
		insert into image(image_code,refer_code,image_name,image_size,image_path) values ('IMAGE'||LPAD(SEQimage.nextval,4,0), #{referCode}, #{imageName}, #{imageSize}, #{imagePath})
	]]> 
	</insert> 	
	
	<select id="imgRead" parameterType="String" resultType="com.java.image.dto.ImageDto">
		select * from image where refer_code = #{referCode} order by image_name
	</select>
	
	<delete id="imgDelete" parameterType="String">
		delete from image where refer_code = #{referCode}
	</delete>
	
	<update id="imgUpdate" parameterType="com.java.image.dto.ImageDto">
		update image set image_name=#{imageName}, image_size=#{imageSize},image_path=#{imagePath} where image_code=#{imageCode}
	</update>
	
	<insert id="imgInsertReview" parameterType="com.java.image.dto.ImageDto">
		insert into image(image_code,refer_code,image_name,image_size,image_path) values ('image'||LPAD(SEQimage.nextval,4,0), #{referCode}, #{imageName}, #{imageSize}, #{imagePath})
	</insert>
	
	<select id="imgListReview" parameterType="String" resultType="com.java.image.dto.ImageDto">
		select * from image where refer_code = #{referCode}
	</select>
	
	<select id="imgSelect" parameterType="com.java.image.dto.ImageDto" resultType="com.java.image.dto.ImageDto">
		select * from image where refer_code = #{referCode} AND image_name = #{imageName}
	</select>
	
	<delete id="imgSelectDelete" parameterType="com.java.image.dto.ImageDto">
		delete from image where refer_code = #{referCode} AND image_name = #{imageName}
	</delete>   

   <insert id="couponImageInsert" parameterType="com.java.image.dto.ImageDto">
   	INSERT INTO image(image_code, refer_Code, image_name, image_size, image_path)
   	VALUES ('image'||LPAD(SEQImage.nextval,4,0), #{referCode}, #{imageName}, #{imageSize}, #{imagePath})
   </insert>
   
   <!-- 쿠폰 이미지 수정 -->
	<update id="couponUpdate" parameterType="com.java.image.dto.ImageDto">
		UPDATE image
		SET image_name = #{imageName}, image_size = #{imageSize}, 
		image_path = #{imagePath}
		WHERE refer_code = #{referCode}
	</update>
	
	<!-- 쿠폰 이미지 삭제 -->
	<delete id="couponDelete" parameterType="String">
		DELETE FROM image WHERE refer_code = #{couponCode}
	</delete>
	
</mapper>